<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royalty - Admin Marée</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/adminstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Catálogo de Royalty System</h1>
            <p class="subtitle">Aquí va el catálogo del sistema de lealtad</p>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Sistema Royalty</h1>

            <div class="columns is-multiline" onclick="abrirModal()">
                <% for (let royalty of royalties) { %>
                    <div class="column is-half">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-5"><%= royalty.Nombre_Royalty %></p>
                                <div class="content">
                                    <p><strong>Prioridad:</strong> <%= royalty.Número_de_prioridad %></p>
                                    <p><strong>Descripción:</strong> <%= royalty.Descripción %></p>
                                    <p><strong>Visitas mínimas:</strong> <%= royalty.Min_Visitas %></p>
                                    <p><strong>Visitas máximas:</strong> <%= royalty.Max_Visitas %></p>
                                </div><footer class="card-footer">
                                <button class="button is-danger card-footer-item">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span>Borrar</span>
                                </button>
                            </footer>
                            </div>
                            
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <section class = " box ">
        <form action="/admin/royaltyMetrics" method="GET">
            <input class="button" type="submit" value="View Metrics" />
        </form>
    </section>

    <!--<script src = "/public/js/Royalty/royalty.admin.js"></script>-->
</body>
</html>